@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Rubik&family=Solitreo&family=Spectral&display=swap");

/*67574f-ffffff-a78661-cbb8a2-#000052*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body h1 {
  font-size: 32px;
  font-family: Merriweather, Spectral, "Times New Roman";
  color: #67574f;
}

body h2 {
    font-size: 28px;
    font-family: Merriweather, Spectral, "Times New Roman";
    color: #67574f;
}

body p {
  font-size: 26px;
  font-family: Rubik, Lato;
  color: #a78661;
}

/* navigation */

#logo_link {
    width: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.primary-header {
  padding-top: .5em;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;

    position: absolute;
    padding: 2rem;
    inset: 8rem 3rem auto;
    /* max-width: 25rem; */
    margin-left: auto;
    background: #cbb8a2;
    border-radius: .5rem;
    box-shadow: 0 0 0.75em rgb(0,0,0, 0.5);
  }

  .nav-list {
    display: grid;
    gap: 1.5rem;
    text-align: center;
    font-weight: bold;
  }

  .nav-list a {
    text-decoration: none;
    color: #000052;
  }

  .nav-list a:hover, .nav-list a:focus {
    text-decoration: none;
    color: #67574f;
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}

/* main */

.meeting-banner {
    background-color: #cbb8a2;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-style: italic;
    font-family: Merriweather, Spectral, "Times New Roman";
    text-align: center;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.main-content {
    display: grid;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
  margin-bottom: 20px;
}

#hero-msg h1,
#hero-msg h4,
#hero-msg p {
  text-align: center;
  color: #cbb8a2;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 15%;
}

#hero-img {
  width: 100%;
}

#event {
    width: 100%;
    margin: 20px auto;
    background: #cbb8a2;
    color: #000052;
    font-family: Rubik, Lato;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 1em rgb(0,0,0, 0.75);
}

#event h2 {
  font-size: 24px;
}

#event p {
  font-size: 18px;
}

#news {
  background: #cbb8a2;
  color: #000052;
  font-family: Rubik, Lato;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 0 1em rgb(0,0,0, 0.75);
}

#news h2 {
  font-size: 24px;
}

#news p {
  font-size: 18px;
}

#weather {
    width: 75%;
    margin: 20px auto;
    background: #cbb8a2;
    color: #000052;
    font-family: Rubik, Lato;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 1em rgb(0,0,0, 0.75);
}
.weather img {
  border-radius: 80px;
}
.weather-imagery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem .5rem 1rem 0;
}
.weather-imagery h3 {
  margin-left: 1rem;
}

#weather h2 {
  font-size: 24px;
}

#weather p {
  font-size: 18px;
}

#join {
    display: none;
}

.container-spotlight {
    width: 100%;
    margin: 20px auto;
    background: #cbb8a2;
    color: #000052;
    font-family: Rubik, Lato;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 1em rgb(0,0,0, 0.75);
}

.container-spotlight h2 {
    font-size: 24px;
}
  
.container-spotlight p {
    font-size: 18px;
}

.spotlight {
    width: 100%;
    margin: 20px auto;
    background: #cbb8a2;
    color: #000052;
    font-family: Rubik, Lato;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 1em rgb(0,0,0, 0.75);   
}

#spotlight3 {
    display: none;
}

/* Discover Page */

.info-img {
  margin: 5px auto;
  width: 80%;
}

.discover .demograph-content {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0rem 0.2rem;
  width: 80%;
}

.demograph-section {
  margin: 0rem 2rem;
  padding: .5rem;
  background-color: #cbb8a2;
  border: #000 solid 1px;
}

.demograph-section .demo-sect-headers {
  font-family: Merriweather, Spectral, "Times New Roman";
  font-size: 1.2rem;
  text-align: center;
  color: #67574f;
}

.demograph-section p {
  font-family: Rubik, Lato;
  font-size: .8rem;
  color: #67574f;
}

.visits {
  text-align: center;
}


/*  Join Page   */


.joinFormHeader {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.6rem;
}

form {
  margin: .5rem .5rem;
}

form fieldset {
  margin: 1rem 0;
  border: 1px solid #a78661;
  border-radius: 4px;
  padding: .5rem 2%;
}

form legend {
  color: #67574f;
  font-family: Merriweather, Spectral, "Times New Roman";
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top {
  display: block;
  padding-top: 1rem;
  color: #67574f;
  font-size: 1rem;
}

form label.top input, form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #a78661;
  border-radius: 4px;
  padding: .75rem;
  color: #67574f;
  width: 100%;
  max-width: 20rem;
}

.businessDesc {
  border: solid 1px #a78661;
  border-radius: 4px;
  padding: .25rem;
  font-size: 1.2rem;
  font-family: Rubik, Lato;
  color: #67574f;
  max-width: 20rem;
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #67574f;
}

form input.submitBtn {
  border: none;
  background-color: #67574f;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 60%;
  max-width: 20rem;
  font-size: 1.4rem;
  font-family: Merriweather, Spectral, "Times New Roman";
}


form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/* Membership Table */

table {
  max-width: 100%;
  margin: .5rem auto;
  border-collapse: collapse;
  border: 1px solid #67574f;
  border-color: black;
  text-align: center;
  font-family: Rubik, Lato;
}

td, th {
  padding: 5px 5px;
  border: 1px solid black;
}


tbody tr:nth-child(even) td {
  background-color: #cbb8a2;
}

tbody tr:nth-child(odd) td {
background-color: #fff;
}

thead {
  color: white;
  background-color: #67574f;
}

thead .memberTableTitle {
  font-size: 1.4rem;
}

td[color_code="check"] {
  color: rgb(0, 170, 40);
  font-size: 1.4rem;
}

td[color_code="x"] {
  color: rgb(150, 45, 45);
}

/* Thank you page */

.thankYou h1, .thankYou p {
  margin: 10px auto;
}


/* footer */


footer {
  display: grid;
  align-items: center;
  justify-content: space-between;
  font-family: Rubik, Lato;
  font-size: 18px;
  color: #67574f;
  padding-bottom: .5rem; 
  padding-top: .25rem; 
  margin-top: 4rem; 
}

#chamberInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1600px;
}

footer img {
  margin: 5px auto;
}

#chamberAddress, #chamberContactInfo {
  text-align: center;
  margin: 10px auto;
}

footer p {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: Rubik, Lato;
    font-size: 14px;
    color: #67574f;
}

#endInfo {
  margin: 18px auto;
}
hr {
  width: 85%;
  color: #67574f;
  opacity: .8;
  margin: 0 auto;
}
