
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Rubik&family=Solitreo&family=Spectral&display=swap");

/*67574f-ffffff-a78661-cbb8a2-9c89b8*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body h1 {
  font-size: 32px;
  font-family: Merriweather, Spectral, "Times New Roman";
  color: #67574f;
}

body p {
  font-size: 26px;
  font-family: Rubik, Lato;
  color: #a78661;
}

/* navigation */

#logo_link {
  width: 160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.primary-header {
  padding-top: 0.5em;
  margin-bottom: 2em;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 2rem;
  text-align: center;
  font-weight: bold;
  padding-right: 8em;
}

.nav-list a {
  text-decoration: none;
  color: #000052;
}

.nav-list a:hover,
.nav-list a:focus {
  text-decoration: none;
  background: #cbb8a2;
}

.mobile-nav-toggle {
  display: none;
}

/* main */

#meeting-banner {
  background-color: #cbb8a2;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-style: italic;
  font-family: Merriweather, Spectral, "Times New Roman";
  text-align: center;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 25px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 25px;
}

.meeeting-banner {
  position: absolute;
  top: 25px;
}

#hero {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/3;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#hero-box {
  grid-column: 2/3;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg h1,
#hero-msg h4,
#hero-msg p {
  text-align: center;
  color: #cbb8a2;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 15%;
}

#hero-img {
  width: 100%;
}

header label {
  font-size: 20px;
  color: #cbb8a2;
  cursor: pointer;
  display: none;
}

#event {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  margin: 20px auto;
  background: #cbb8a2;
  color: #000052;
  font-family: Rubik, Lato;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.75);
}

#event h2 {
  font-size: 24px;
}

#event p {
  font-size: 18px;
}

#news {
  grid-column: 2/3;
  grid-row: 3/4;
  background: #cbb8a2;
  color: #000052;
  font-family: Rubik, Lato;
  padding: 20px;
  margin: 20px auto;
  margin-left: 20px;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.75);
}

#news h2 {
  font-size: 24px;
}

#news p {
  font-size: 18px;
}

#weather {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  margin: 20px auto;
  background: #cbb8a2;
  color: #000052;
  font-family: Rubik, Lato;
  padding: 20px;

  text-align: center;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.75);
}
.weather img {
  border-radius: 80px;
}
.weather-imagery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem .5rem 1rem 0;
}
.weather-imagery h3 {
  margin-left: 1rem;
}


#weather h2 {
  font-size: 24px;
}

#weather p {
  font-size: 18px;
}

#join {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  margin: 20px auto;
  background: #cbb8a2;
  color: #000052;
  font-family: Rubik, Lato;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.75);
}

#join h2 {
  font-size: 24px;
}

#join p {
  font-size: 18px;
}

.container-spotlight {
  grid-column: 3/4;
  grid-row: 1/4;
  width: 100%;
  margin: 20px auto;
  margin-left: 20px;
  background: #cbb8a2;
  color: #000052;
  font-family: Rubik, Lato;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.75);
  display: grid;
}

.container-spotlight h2 {
  font-size: 24px;
}

.container-spotlight p {
  font-size: 18px;
}

.spotlight {
  width: 100%;
  margin: 20px auto;
  background: #cbb8a2;
  color: #000052;
  font-family: Rubik, Lato;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.75);
}

/* Discover Page */
  
.info-img {
  margin: 5px auto;
  width: 60%;
  -webkit-transition: width 1s;
  transition: width 1s;
}
.info-img:hover {
  width: 70%;
}

.info-img[data-src] {
  filter: blur(0.5em);
}

.info-img {
  filter: blur(0em);
  transition: filter 0.25s;
}

.discover .demograph-content {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0rem 1rem;
  width: 50%;
}

.demograph-section {
  margin: 0rem 12rem;
  padding: .5rem;
  background-color: #cbb8a2;
  border: #000 solid 1px;
}

.demograph-section .demo-sect-headers {
  font-family: Merriweather, Spectral, "Times New Roman";
  font-size: 1.4rem;
  text-align: center;
  color: #67574f;
}

.demograph-section p {
  font-family: Rubik, Lato;
  font-size: 1rem;
  color: #67574f;
}

.visits {
  display: block;
  text-align: center;
  margin: 2rem auto;
  font-family: "Lato", Arial, sans-serif;
}

/* footer */

footer {
  font-family: Merriweather, Spectral, "Times New Roman";
  font-size: 24px;
  color: #67574f;
  padding-bottom: .5rem; 
  padding-top: .25rem; 
  margin-top: 1rem; 
}

#chamberInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer img {
  
  margin: 5px auto;
}

#chamberLocationInfo {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#chamberContactInfo {
  grid-column: 2/3;
}

#chamberAddress, #chamberContactInfo {
  text-align: left;
  margin: 30px auto;
}

footer p {
    font-family: Rubik, Lato;
    font-size: 18px;
    color: #67574f;
}

hr {
  width: 85%;
  color: #67574f;
  opacity: .8;
  margin: 0 auto;
}

#endInfo {
  margin: 18px auto;
  padding: 14px;
}


/*  Join Page   */


.joinFormHeader {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.6rem;
}

form {
  margin: .5rem .5rem;
}

form fieldset {
  margin: 1rem 0;
  border: 1px solid #a78661;
  border-radius: 4px;
  padding: .5rem 2%;
}

form legend {
  color: #67574f;
  font-family: Merriweather, Spectral, "Times New Roman";
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top {
  display: block;
  padding-top: 1rem;
  color: #67574f;
  font-size: 1.2rem;
}

form label.top input, form label.top select {
  display: block;
  font-size: 1.2rem;
  border: solid 1px #a78661;
  border-radius: 4px;
  padding: .75rem;
  color: #67574f;
  width: 50%;
  max-width: 20rem;
}

form label.sbs {
  display: block;
  padding: .5rem 0;
  color: #67574f;
  font-size: 1.2rem;
}

.businessDesc {
  border: solid 1px #a78661;
  border-radius: 4px;
  padding: .25rem;
  font-size: 1.2rem;
  font-family: Rubik, Lato;
  color: #67574f;
}

form input.submitBtn {
  border: none;
  background-color: #67574f;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 60%;
  max-width: 20rem;
  font-size: 1.6rem;
  font-family: Merriweather, Spectral, "Times New Roman";
}


form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/* Membership Table */

table {
  max-width: 100%;
  margin: .5rem;
  border-collapse: collapse;
  border: 1px solid #67574f;
  border-color: black;
  text-align: center;
  font-family: Rubik, Lato;
}

td, th {
  padding: 5px 5px;
  border: 1px solid black;
}


tbody tr:nth-child(even) td {
  background-color: #cbb8a2;
}

tbody tr:nth-child(odd) td {
background-color: #fff;
}

thead {
  color: white;
  background-color: #67574f;
}

thead .memberTableTitle {
  font-size: 1.4rem;
}

td[color_code="check"] {
  color: rgb(0, 170, 40);
  font-size: 1.4rem;
}

td[color_code="x"] {
  color: rgb(150, 45, 45);
}

/* Thank you page */

.thankYou h1, .thankYou p {
  margin: 10px auto;
}


/* utility */

.meet-and-greet {
  position: absolute;
  font-size: 3rem;
  /* padding: 2rem;
    margin-left: auto;
    background: #cbb8a2;
    border-radius: .5rem;
    box-shadow: 0 0 0.75em rgb(0,0,0, 0.5); */
}
